@import url("https://fonts.googleapis.com/css2?family=Nunito");
@import url("https://fonts.googleapis.com/css2?family=Montserrat");

@mixin phone {
  @media (max-width: 600px) {
    @content;
  }
}
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

$primary: #ffa000;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-family: "Nunito";
  button,
  #button {
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 5px 4px 13px 0 #0000006c, inset 0 0 0 0 #989898;
    border: none;
    cursor: pointer;
    transition: 0.2s;
    &:focus {
      outline: none;
    }
    &:hover {
      box-shadow: 0 0 0 0 #989898, inset 5px 4px 13px 0 #989898;
    }

    * {
      height: 30px;
      margin-right: 20px;
    }
    p {
      height: unset;
      margin-right: unset;
      font-size: medium;
      font-weight: bold;
      text-align: center;
    }
  }
}

.Login {
  width: 100vw;
  min-height: 100vh;
  background-image: url("./assets/LoginBG.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: 50%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
  padding: 100px;
  overflow: hidden;
  @include phone() {
    background-image: none;
    padding: 0;
    justify-content: flex-start;
  }

  .head {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
    @include phone() {
      margin: none;
      flex-direction: column;
      margin-bottom: 50px;
      align-items: stretch;
    }

    * {
      font-family: "Montserrat";
    }
    .logo {
      height: 100px;
      width: 100px;
      @include phone() {
        width: unset;
        height: unset;
      }

      img {
        width: 100%;
        @include phone() {
          width: 100vw;
        }
      }
    }
    .text {
      margin-left: 50px;
      @include phone() {
        margin: 0;
      }
      h1 {
        font-weight: normal;
        margin-bottom: 10px;
        font-size: 2.3rem;
        @include phone() {
          text-align: center;
        }
      }
      p {
        font-weight: bolder;
        color: #909090;
        letter-spacing: 3px;
        @include phone() {
          font-size: small;
          text-align: center;
        }
      }
    }
  }
  .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include phone() {
      flex-direction: column;
    }
    button {
      background-color: white;
    }
    .github#button {
      padding: 20px 20px;
      min-width: 0;
      border-radius: 50%;
      img {
        margin: 0;
      }
      @include phone() {
        margin: 20px 0;
      }
    }
  }
}

.User {
  height: 100vh;
  display: flex;
}

.SideBar {
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  background-color: $primary;
  .logo {
    img {
      width: 100%;
    }
  }
  .collectionsList {
    flex: 1;
    overflow-y: scroll;

    h4 {
      margin: 10px 20px;
      color: #ffeac6;
      letter-spacing: 3px;
      font-size: 1rem;
    }

    .collection {
      padding: 20px 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      &:hover {
        background-color: lighten($color: $primary, $amount: 10);
      }
      p {
        color: white;
        font-weight: bold;
        font-size: 1.5rem;
        letter-spacing: 3px;
      }
      &.open {
        background-color: white;
        p {
          color: $primary;
        }
        svg {
          fill: $primary;
        }
      }
    }
  }
  button {
    align-self: center;
    margin: 20px;
  }
}
